@{
    ViewData["Title"] = "Sobre ";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData[""]</h3>

<p>  Noticias do mundo  é um Blog de internet Mundial. Criado em 2018, pertence laecio carvalho de sa,  oferece conteúdos de notícias e 
    entretenimento.</p>
