@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"].</h2>


<address>
   Entre em contato com  site.<br />
    <strong>Telefone:  </strong>
    (11) xxxx-xxxx
</address>

<address>
   
    <strong>Email:  </strong><a href="mailto:Support@example.com">sitet@example.com</a><br />
    
</address>
